pyramid==1.10
pyramid-jinja2
mysql-connector-python
python-dotenv
bjoern   # to use the bjoern webserver
waitress # to use the waitress webserver

click
dlib
face-recognition
face-recognition-models
numpy
opencv-python
Pillow==8.2.0
runtime